/* 
@media only screen and (max-width:768px){
    body{
        background-color: blue;
    }
}

@media only screen and (min-width: 768px){
    body{
        background-color: green;
    }
} */


h1,h2,h3{
    font-family: 'ADLaM Display';
}

p{
    font-family: 'Almarai';
}

.image{
    max-width:300px;
    height: auto;
    border-radius: 20px;
    float: right;
  
}

.profile{
    padding: 20px;
    border: 1px solid black;
   
}

nav{
    background-color: #030338;
    padding: 20px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

nav a{
    color: white;
    padding: 10px;
}

.container{
    margin-left: 30px;
    margin-right: 30px;
}

table, th, td, tr{
    border: 1px solid black;
    border-collapse: collapse;
}

th{
    background-color: rgb(36, 36, 35);
    color:aliceblue
}
.underline{
    text-decoration: underline;
}